.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 64px;
    padding-bottom: 64px;
}

.imageWrapper {
    position: relative;
    width: 100vw;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
}

.categoriesWrapper {
    display: flex;
    flex-direction: column;
    gap: 56px;
}

.imageContent {
    margin: 0 auto;
    padding: 0 24px;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
